<div class="footer_mobie">
    © 2018 WakeLp.COM 版权所有
</div>
<div class="footer">
<div class="footer_child">
<img src="../images/footer-logo.gif"/>
<div class="footer_child_right">
        <p>
                <a href="购买页.html">主页</a>
                <span>|</span>
                <a href="购买页.html">关于我们</a>
                <span>|</span>
                <a href="购买页.html">服务</a>
                <span>|</span>
                <a href="购买页.html">活动专区</a>
                <span>|</span>
                <a href="购买页.html">联系我们</a>
        </p>
        <p><spe>© 2018 WakeLp.COM 版权所有</spe></p>
</div>
</div>
</div>
<div class="mobie-bottom">
        <a href="index.html" class="mobie-selected"><i class="glyphicon glyphicon-home"></i>首页</a>
        <a href="sort.html"><i class="glyphicon glyphicon-th-list"></i>分类</a>
        <a href="cart.html"><i class="glyphicon glyphicon-shopping-cart"></i>购物车</a>
        <a href="person.html"><i class="glyphicon glyphicon-user"></i>我的</a>
</div>