<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎来到WakeLp</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../dist/index.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <%= require('html-loader!./head.html')%>
    <!--内容-->
    <%= require('html-loader!./content.html')%>
    <!--页脚-->
    <%= require('html-loader!./footer.html')%>
</body>
</html>