<!--移动端-->
<div class="pWap">
    <div id="wap-head">
        我的绿速康
    </div>
    <div id="mobieH">
        <img src="../images/fuck.jpg">
        <p>用户名:lazy</p>
        <p>V7会员</p>
    </div>
    <!---->
    <div class="wap-money container">
        <div class="col-xs-4">
            <span class="m-title">优惠券</span>
            <span class="m-num">21</span>
        </div>
        <div class="col-xs-4">
            <span class="m-title">账户余额</span>
            <span class="m-num">183,999,234</span>
        </div>
        <div class="col-xs-4">
            <span class="m-title">总积分</span>
            <span class="m-num">213700</span>
        </div>
    </div>
    <!--订单-->
    <div class="wap-order">
        <div class="person-data-head">
                我的订单
                <a href="#"  class="pull-right">全部订单</a>
        </div>
        <ul>
            <li><a href="order.html"><i><img src="../images/pay.png"/></i><span>待付款</span></a></li>
            <li><a href="order.html"><i><img src="../images/send.png"/></i><span>待发货</span></a></li>
            <li><a href="order.html"><i><img src="../images/receive.png"/></i><span>待收货</span></a></li>
            <li><a href="order.html"><i><img src="../images/comment.png"/></i><span>待评价</span></a></li>
            <li><a href="change.html"><i><img src="../images/refund.png"/></i><span>退换货</span></a></li>
        </ul>
    </div>
    
    <!--九宫格-->
    <div class="user-squaredIcon">
            <div class="person-data-head">
                    我的常用
            </div>
            <ul>
                <a href="#">
                    <li class="am-u-sm-4"><i class="am-icon-truck am-icon-md"></i>
                        <p>物流查询</p>
                    </li>
                </a>
                <a href="collection.html">
                    <li class="am-u-sm-4"><i class="am-icon-heart am-icon-md"></i>
                        <p>我的收藏</p>
                    </li>
                </a>
                <a href="foot.html">
                    <li class="am-u-sm-4"><i class="am-icon-paw am-icon-md"></i>
                        <p>我的足迹</p>
                    </li>
                </a>
                <a href="#">
                    <li class="am-u-sm-4"><i class="am-icon-gift am-icon-md"></i>
                        <p>为你推荐</p>
                    </li>
                </a>
                <a href="blog.html">
                    <li class="am-u-sm-4"><i class="am-icon-share-alt am-icon-md"></i>
                        <p>我的分享</p>
                    </li>
                </a>
                <a href="促销.html">
                    <li class="am-u-sm-4"><i class="am-icon-clock-o am-icon-md"></i>
                        <p>限时活动</p>
                    </li>
                </a>
            </ul>
    </div>
</div>