<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新春促销</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <!--header-->
    <%= require('html-loader!./head.html')%>
    <!--内容-->
    <div class="bg-top">
    </div>
    <div class="miaosha">
        <div class="time-container">
            <ul class="">
                <li>
                    <a href="#" class="line">
                        <span class="time1">15:00</span>
                        <span class="time2">-16:00</span>
                        <i class="flex"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="line focus">
                        <span class="time1">16:00</span>
                        <span class="time2">-17:00</span>
                        <i class="flex"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="line">
                        <span class="time1">17:00</span>
                        <span class="time2">-18:00</span>
                        <i class="flex"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="line">
                        <span class="time1">18:00</span>
                        <span class="time2">-19:00</span>
                        <i class="flex"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="line">
                        <span class="time1">19:00</span>
                        <span class="time2">-20:00</span>
                        <i class="flex"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="list">
            <div class="goods goods-first">
                <div class="goods-img">
                    <a href="#">
                        <img src="../促销产品/16/1.jpg">
                    </a>
                </div>
                <div class="list-title">
                    <div class="title-link">
                        <a href="#">双11秒杀</a>
                    </div>
                </div>
                <div class="goods-price">
                    <table class="price-list">
                        <tbody>
                            <tr>
                                <td class="nowPrice">
                                    秒杀价:
                                </td>
                                <td>
                                    市场价:
                                </td>
                                <td>
                                    折扣:
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="money">￥</i>
                                    <span class="sec-price">1.00</span>
                                </td>
                                <td class="original">
                                    <i class="money">￥</i>
                                    "538.00"
                                </td>
                                <td class="ratio">
                                    0.0折
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="price-button">
                    <a class="buy">立即秒杀</a>
                    <a class="hd">
                        <span class="name">绿速康</span>
                        <span class="look">查看更多优惠>></span>
                        <i class="hd-arrow"></i>
                    </a>
                </div>
            </div>
            <div class="goods">
                <div class="goods-img">
                    <a href="#">
                        <img src="../促销产品/16/1.jpg">
                    </a>
                </div>
                <div class="title">
                    <div class="title-link">
                        <a href="#">双11秒杀</a>
                    </div>
                </div>
                <div class="goods-price">
                    <table class="price-list">
                        <tbody>
                            <tr>
                                <td class="nowPrice">
                                    秒杀价:
                                </td>
                                <td>
                                    市场价:
                                </td>
                                <td>
                                    折扣:
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="money">￥</i>
                                    <span class="sec-price">1.00</span>
                                </td>
                                <td class="original">
                                    <i class="money">￥</i>
                                    "538.00"
                                </td>
                                <td class="ratio">
                                    0.0折
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="price-button">
                    <a class="buy">立即秒杀</a>
                    <a class="hd">
                        <span class="name">绿速康</span>
                        <span class="look">查看更多优惠>></span>
                        <i class="hd-arrow"></i>
                    </a>
                </div>
            </div>
            <div class="goods">
                <div class="goods-img">
                    <a href="#">
                        <img src="../促销产品/16/1.jpg">
                    </a>
                </div>
                <div class="title">
                    <div class="title-link">
                        <a href="#">双11秒杀  特价火龙果</a>
                    </div>
                </div>
                <div class="goods-price">
                    <table class="price-list">
                        <tbody>
                            <tr>
                                <td class="nowPrice">
                                    秒杀价:
                                </td>
                                <td>
                                    市场价:
                                </td>
                                <td>
                                    折扣:
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="money">￥</i>
                                    <span class="sec-price">1.00</span>
                                </td>
                                <td class="original">
                                    <i class="money">￥</i>
                                    "538.00"
                                </td>
                                <td class="ratio">
                                    0.0折
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="price-button">
                    <a class="buy">立即秒杀</a>
                    <a class="hd">
                        <span class="name">绿速康</span>
                        <span class="look">查看更多优惠>></span>
                        <i class="hd-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="all">
            <a href="#"><span>查看16：00-17：00全部秒杀产品>></span></a>
        </div>
    </div>
    <div style="clear:both;"></div>
    <!--页脚-->
    <%= require('html-loader!./footer.html')%>
    <script src="../../dist/index.js"></script>
</body>
</html>