<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>农副产品</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <!--header-->
    <%= require('html-loader!./head.html')%>
    <!--内容-->
    <div class="market-main">
        <a href="发布.html"><button class="publish">我<br>要<br>发<br>布</button></a>
        
        <div class="container container-special">
            <div class="market-menu">
                <div class="tab-one">
                    <div class="tab-nav">
                        <span>分类：</span>
                    </div> 
                    <div class="tab-content">
                        <a href="生鲜水果.html" title="生鲜水果">生鲜水果</a>
                        <a href="新鲜蔬菜.html">新鲜蔬菜</a>
                        <a href="畜牧水产.html">畜牧水产</a>
                        <a href="米面粮油.html">米面粮油</a>
                        <a href="农副产品.html" class="selected">农副产品</a>
                        <a href="农资产品.html">农资产品</a>
                        <a href="花卉苗木.html">花卉苗木</a>
                        <a href="中草药材.html">中草药材</a>
                        <a href="地方特产.html">地方特产</a>
                        <a href="农业机械.html">农业机械</a>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="tab-drop">
                    <div class="tab-content-drop">
                        <a href="#">茶叶酒饮</a>
                        <a href="#">果仁籽类</a>
                        <a href="#">土特产</a>
                        <a href="#">调味品</a>
                        <a href="#">食品类</a>
                        <a href="#">经济作物</a>
                        <a href="#">礼盒包装</a>
                    </div>
                    <div class="tab-one">
                            <div class="tab-nav">
                                <span>地区：</span>
                            </div> 
                            <div class="tab-content">
                                <a href="#" class="selected">全国</a>
                                <a href="#" title="北京市">北京市</a>
                                <a href="#">上海市</a>
                                <a href="#">天津市</a>
                                <a href="#">重庆市</a>
                                <a href="#">河北省</a>
                                <a href="#">山西省</a>
                                <a href="#">内蒙古</a>
                                <a href="#">辽宁省</a>
                                <a href="#">吉林省</a>
                                <a href="#">黑龙江省</a>
                                <a href="#">河南省</a> 
                            </div> 
                        </div>
                        <div class="tab-drop">
                                <div class="tab-content-drop-special">
                                <a href="#">湖北省</a>
                                <a href="#">湖南省</a>
                                <a href="#">广东省</a>
                                <a href="#">广西</a>
                                <a href="#">海南省</a>
                                <a href="#">四川省</a>
                                </div>
                        </div>        
                </div>               
            </div>
            <div style="clear:both;"></div>
            <div>
                <img src="../images/农副产品.png">
            </div>
            <div id="row1">
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="橙子-1.html"><img src="../农副产品/1-1.png"></a>
                    <div class="market-title">
                            <p>供应 红茶 高山红茶 野生红茶</p>
                        <div class="market-text">
                            <div class="market-price">
                                <p>￥360.00/盒</p>
                            </div>
                            <div class="market-cart">
                                <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="橙子-1.html"><img src="../农副产品/1-2.png"></a>
                        <div class="market-title">
                                <p>供应 红茶 贞白红茶 高山野生红茶 特级红茶</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥400.00/盒</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/1-3.png"></a>
                        <div class="market-title">
                                <p>供应 红茶 高山野生红茶 生态野生红茶</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥600.00/盒</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/1-4.png"></a>
                        <div class="market-title">
                                <p>供应 红茶 贞白红茶 高山野生红茶 特级红茶</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥400.00/盒</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div id="row2">
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="火龙果.html"><img src="../农副产品/2-1.png"></a>
                        <div class="market-title">
                                <p>五谷杂粮，农副产品礼盒</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>面议</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="火龙果.html"><img src="../农副产品/2-2.jpg"></a>
                        <div class="market-title">
                                <p>贺老汉香辣礼品盒 望都特产</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥65.00/盒</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="火龙果.html"><img src="../农副产品/2-3.jpg"></a>
                        <div class="market-title">
                                <p>古浪特优级红枸杞</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥25.00/斤</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="火龙果.html"><img src="../农副产品/2-4.jpg"></a>
                        <div class="market-title">
                                <p>有雾霾的地方就有我在------银耳羹</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥21.00/盒</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div id="row3">
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="胡萝卜-1.html"><img src="../农副产品/3-1.jpg"></a>
                        <div class="market-title">
                                <p>马蹄粉 糕点用淀粉 批发 厂家直销</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥50.00/kg</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="胡萝卜-1.html"><img src="../农副产品/3-2.jpg"></a>
                        <div class="market-title">
                                <p>新鲜板栗—好吃营养多</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥25.00/公斤</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="胡萝卜-1.html"><img src="../农副产品/3-3.jpg"></a>
                        <div class="market-title">
                                <p>青皮核桃</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>面议</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="胡萝卜-1.html"><img src="../农副产品/3-4.jpg"></a>
                        <div class="market-title">
                                <p>优质白莲原产地批发、零售</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥25.00/1</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div id="row4">
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/4-1.jpg"></a>
                        <div class="market-title">
                                <p>宝清大白板，白瓜籽南瓜籽葫芦籽葵花南籽瓜子仁</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>面议</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/4-2.jpg"></a>
                        <div class="market-title">
                                <p>绿茶</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥28.00/500g</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/4-3.jpg"></a>
                        <div class="market-title">
                                <p>52°五谷酒白酒原浆酒</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥360.00/箱</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/4-4.jpg"></a>
                        <div class="market-title">
                                <p>降糖降三高茶</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥96.00/1罐</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="row5">
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/5-1.jpg"></a>
                        <div class="market-title">
                                <p> 青钱柳茶，您身边的降糖专家</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥96.00/罐</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/5-2.jpg"></a>
                        <div class="market-title">
                                <p>某人 青钱柳茅台酒（酱香型）</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥288.00/瓶</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/5-3.jpg"></a>
                        <div class="market-title">
                                <p>安化黑茶金花手筑茯砖黑树黑茶正宗特级500g篓装天尖</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥268.00/1</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/5-4.jpg"></a>
                        <div class="market-title">
                                <p>绝对无公害茶叶</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥600.00/100</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="row6">
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/6-2.jpg"></a>
                        <div class="market-title">
                                <p>橡子冻/橡子凉粉 野生山区橡子 厂家直销 朝鲜族民族食品</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥12.00/kg</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/6-3.jpg"></a>
                        <div class="market-title">
                                <p>符离集烧鸡大甩卖</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>￥45.00/包</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/6-4.jpg"></a>
                        <div class="market-title">
                                <p> 
                                    特色熟食，米粉肉，独家制作</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>面议</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-xs-6 col-md-3 market-each">
                        <a href="购买页.html"><img src="../农副产品/6-1.jpg"></a>
                        <div class="market-title">
                                <p>铁观音专卖 铁观音专卖店 誉合缘供</p>
                            <div class="market-text">
                                <div class="market-price">
                                    <p>面议</p>
                                </div>
                                <div class="market-cart">
                                    <a href="购买页.html"><span class="glyphicon glyphicon-shopping-cart redColor"></span></a>
                                </div>
                            </div>
                        </div>
                </div> 
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
    <!---->
      <!---->
  <!--右侧导航-->
    <div class="right-banner container" style="padding:0">
            <div class="right-banner-content">
                <div class="user">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="rb-cart">
                    <a href="cart.html" target="_blank" style="color:white;"><span class="glyphicon glyphicon-shopping-cart">购物车</span></a>
                </div>
                <div class="rs-money">
                    <span class="glyphicon glyphicon-usd"></span>
                </div>
                <div class="rs-like">
                    <span class="glyphicon glyphicon-heart-empty"></span>
                </div>
                <div class="rs-er">
                    <span class="glyphicon glyphicon-qrcode"></span>
                </div>
            </div>
        </div>
    <div class="rbl container" style="padding:0">
            <div class="rbl-content">
                <div class="rbl-hurt">
                    我要充值
                </div>
                <div class="rbl-love">
                    我的收藏
                </div>
                <div class="rbl-user">
                    <img src="../images/no-img_mid_.jpg " />
                    <span>欢迎来到绿速康</span>
                    <span>请登录</span>
                    <hr>
                    <div class="OL">
                        <div class="myOrder"><a href="#">我的订单</a></div>
                        <div class="myLike"><a href="#">我的收藏</a></div>
                    </div>
                </div>
            </div>
        </div>
    <!--页脚-->
    <%= require('html-loader!./mobieSlide.html')%>
    <%= require('html-loader!./footer.html')%>
    <script src="../../dist/index.js"></script>
</body>
</html>